
/** ADD YOUR AWESOME CODES HERE **/

.navbar-brand img{
    max-height: 80px;
}

.navbar {
    background-color: #000000;  
}

.navbar-toggler{
    background: #fec30d;
	color: #ffffff; 
}


.gallery-single-box{
    width: 95%;
    margin: 0 auto;
}

@media(max-width: 500px){

    .col-9 {
        max-width: 100%;
    }
    .special-grid {
        min-width: 100%;
    }
    .row{
        justify-content: center;
        
    }
}